@font-face {
    font-family: 'NimbusSanLReg';
    src: url('./NimbusSanL-Reg.ttf') format('truetype');
}

@font-face {
    font-family: 'NimbusSanLBol';
    src: url('./NimbusSanL-Bol.ttf') format('truetype');
}

body {
    margin-right: 30px;
    margin-left: 30px;
    font-family: NimbusSanLReg;
    font-size: 11px;
    line-height: 21px;
}


h1 {
    font-size: 19px;
    line-height: 47px;
    font-family: NimbusSanLBol;
}

.logo {
    width: 168px;
    height: 56px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

table td {
    text-align: left;
}

table caption {
    font-weight: bold;
}

table tr#HEAD {
    font-weight: bold;
    text-align: center;
    background-color: #F0F0F0;
}

h3, ul {
    margin: 0px;
    font-family: NimbusSanLBol;
}


.textth {
    padding-left: 204px;
    text-align: center;

}

.imgth {
    width: 204px;
}

.instrument {
    width: 204px;
    height: 204px;
}

.ephemerides {
    margin-top: 20px;
    text-align: center;
}

