body {
    margin-right: 30px;
    margin-left: 30px;
    font-family: "Helvetica Neue", "Nimbus Sans L", sans-serif;
    font-size: 11px;
    line-height: 21px;
}

h1 {
    font-size: 23px;
    line-height: 47px;
}

.logo {
    width: 168px;
    height: 56px;
}

table{
    width: 100%;
}

h3, ul{
    margin: 0px;
}

th{
    text-align: left;
    vertical-align: middle;
}

.textth{
    padding-left: 204px;
    text-align: center;

}

.imgth{
    width: 204px;
}

.instrument {
    width: 204px;
    height: 204px;
}

.ephemerides {
    margin-top: 20px;
    text-align: center;
}

.planet{
    width: 35px;
}
